*
!.gitignore

!ghostty/
!ghostty/**

!xterm/
!xterm/**

!yazi/
!yazi/**

!personal_settings/
!personal_settings/**

!hypr/
!hypr/monitors.lua

!nvim/
!nvim/**

nvim/tt.*
nvim/.tests
nvim/doc/tags
nvim/debug
nvim/.repro
nvim/foo.*
nvim/*.log
nvim/data
